body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    transition: background-color 0.5s ease;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

h1 {
    color: #00bfff;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007acc;
}

/* Animações para quando o jogador faz uma escolha */
.choiceMade {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}

.ending {
    color: #FFD700;
    font-size: 20px;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
    }
    to {
        text-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
    }
}